body {
    margin:0;
    padding:0;
    border:0px;
    height:100%;
    width:100%;
    overflow:auto;
    font-family:Perpetua, Georgia, Consolas;
    min-height:480px;
    min-width:1024px;
    position: absolute;
    top:0%;
    left:0%;
    color: Navy;
    background-color: MintCream;
}
/*html{overflow-y:hidden}*/
.std_img {
    height:100%;
    width:100%;
    opacity:0.3;
    filter:Alpha(opacity=30);
    background-color: None;
}
.std_img:hover {
    opacity:1;
    filter:Alpha(opacity=100);
    background-color: AliceBlue;
}
.main {
    width:97%;
    position: absolute;
    top: 20%;
    margin-top: 2px;
    margin-left: 3%;
    overflow:hidden;
}
.menu {
    position: absolute;
    top: 3%;
    left: 10%;
    right:0%;
    min-width:800px;
    font-size:200%;
}
.logo {
    position: absolute;
    top: -10%;
    right: 100.2%;
    height:20%;
    width:8.6%;
    min-height:100px;
    min-width:100px;
}
.mitem {
    float:left;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    margin:0%;
    background-color: Honeydew;
}
.mitem:hover {
    background-color: PaleGreen;
}
.gcard {
    position:relative;
    height:300px;
    width:100%;
    //overflow:hidden;
    border-style:solid;
    border-color:AliceBlue;
    border-width:5px;
    border-radius:2%;
}
.card {
    position: absolute;
    top:22.5%;
    bottom:18%;
    left:2.5%;
    width:95%;
}
.prev {
    position:absolute;
    left:0%;
    right:97%;
    height:100%;
}
.next {
    position:absolute;
    left:97%;
    right:0%;
    height:100%;
}
.content {
    position:absolute;
    left:3%;
    right:3%;
    height:100%;
    overflow:hidden;
    border-style:solid;
    border-color:AliceBlue;
    border-width:5px;
    border-radius:2%;
}
.image {
    position:absolute;
    left:0%;
    width:61.8%;
    height:100%;
}
.impact {
    position:absolute;
    left:61.8%;
    right:0%;
    height:100%;
    padding-left:10px;
    font-size:120%;
    background-color: Azure;
}
.more,.more:link,.more:visited,.more:hover,.more:active {
    font-size: 140%;
    color: MidnightBlue;
    text-decoration:None;
    position: absolute;
    bottom:5%;
    right:5%;
    background-color: AliceBlue;
}
.more:hover {
    color:MidnightBlue;
    background-color: PaleGreen;
}
.share {
    position: absolute;
    top:88%;
    left:3%;
    right:3%;
    height: 10%;
    background-color: HoneyDew;
}
.fb {
    position: absolute;
    width:200px;
    height:100%;
}