@import "bootstrap/bootstrap.less";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

@import "bootstrap/responsive.less";


/* ===== Primary Styles ========================================================
   Author: DoersGuild.com
   ========================================================================== */

.dropdown-toggle-hidden {
	padding : 0px !important;
}

ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;    
}
a.menu:after, .dropdown-toggle:after {
    content: none;
}


.image-slider h2{
 margin-top:30px;
 padding: 0px 9px;
 
}

.image-slider .span6 {
  .pull-right;
  float:right;
}

.hero-unit{
 background-color: #E04B04; 
 color: ghostWhite;
 background-color: #E04B04 !important; 
 color: ghostWhite !important;
}
.well{
 background-color: black; 
 color: whitesmoke;
 background-color: black !important; 
 color: whitesmoke !important;
}