@import "bootstrap/bootstrap.less";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

@import "bootstrap/responsive.less";

.box-shadow(@style, @c) when (iscolor(@c)) {
  box-shadow:         @style @c;
  -webkit-box-shadow: @style @c;
  -moz-box-shadow:    @style @c;
}
.box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
  .box-shadow(@style, rgba(255, 255, 255, @alpha));
}
.rounded-corners (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

/* ===== Primary Styles ========================================================
   Author: DoersGuild.com
   ========================================================================== */

.dropdown-toggle-hidden {
	padding : 0px !important;
}

ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;    
}
a.menu:after, .dropdown-toggle:after {
    content: none;
}


.image-slider h2{
 margin-top:30px;
 padding: 0px 9px;
 
}

.image-slider .span6 {
  .pull-right;
  float:right;
}

.hero-unit{
 background-color: #E04B04; 
 color: ghostWhite;
 background-color: #E04B04 !important; 
 color: ghostWhite !important;
}
.well{
 background-color: black; 
 color: whitesmoke;
 background-color: black !important; 
 color: whitesmoke !important;
}
.logo{
  .box-shadow(0 0 15px, 90%);
  .rounded-corners(7px);
}
.icons li{ 
  float:right;
}
