{{extend "layout.html"}}

<section id="about" data-role="page">
    <div class="well">
        <h1>Tharuni</h1>
        <h3>Working towards Empowerment of Adolescent Girls Women and
        the Aged</h3>
        <p>
            ‘THARUNI’ was started in 2000, by Dr. Mamatha Raghuveer and
            her mother as a small effort. However, today, Tharuni blossomed
            into a Forum for the Girls where they can get the required support
            for all their basic needs. ‘THARUNI’ means a young woman. Being a
            Non – Governmental organization, it works for the all round
            development of Adolescent Girls, Women & the Aged. Tharuni aims to
            educate the girl to enjoy a higher self-esteem and greater say in
            decision making, to marry at a right age, and play a major role in
            social development. Tharuni also focuses on ensuring the well being
            of women at all stages of their lives.
        </p>
    </div>
    <div class="row-fluid" >
        <section id="vision" class="span6 ">
            <div class="well2" style="height: 190px;">
                <p class="lead" style="color: white;">
                    Our Vision
                </p>
                <p>
                    Empowering Adolescent Girls, Women and Aged to build a better
                    world where there is no Discrimination.
                </p>
            </div>
        </section>
        <section id="mission" class="span6 ">
            <div class="well2" style="height: 190px;">
                <p class="lead" style="color: white;">
                    Our Mission
                </p>
                <p>
                    To make the adolescent girls and women attain their rightful
                    place as equal partners with men in development, by fully
                    harnessing their potential.
                </p>
            </div>
        </section>
    </div>
    <div class="row-fluid">
        <div class="span1"></div>
        <section id="objectives" class="span10 ">
            <p class="lead">
                Our Objectives
            </p>
            <ul>
                <li>
                    To work for the welfare of the girl child
                </li>
                <li>
                    To enlighten the adolescent girls on health & hygiene and
                    impart quality education
                </li>
                <li>
                    To provide vocational education and promote life skill
                    development to enhance self confidence in adolescent girls
                </li>
                <li>
                    To develop their personality by conducting sports and
                    games for adolescent girls
                </li>
                <li>
                    To work for eradication of child marriages, dowry and
                    other social evils
                </li>
                <li>
                    To educate the women for optimum utilization of government
                    schemes in various fields
                </li>
                <li>
                    To involve women in environmental initiatives
                </li>
                <li>
                    To educate the women on health issues
                </li>
                <li>
                    To empower the aged to be self-reliant and make their old
                    age meaningful and productive
                </li>
                <li>
                    To provide physical and psychological care for the elderly
                    apart from strengthening their bonds with society
                </li>
            </ul>
        </section>
        <div class="span1"></div>
    </div>
</section>