{{extend "layout.html"}}

<section id="supporting_aged"  data-role="page">

    <div class="flexslider image-slider" style="background-color: #0196FD; color:white;">
        <ul class="slides">

            <!--first slide starts-->
            <li>
                <div class="span5 slide">
                    <h2>Supporting the Aged:</h2>

                    <p>
                        <ul>
                            <li>
                                Forum for the Aged
                            </li>
                            <li>
                                Financial Independence
                            </li>
                            <li>
                                Extending Support and Care
                            </li>
                            <li>
                                Counseling the Family Members
                            </li>

                        </ul>
                    </p>
                    <a href="#" class="btn_googleplay"></a>
                </div>
                <div class="span6"><img src="{{=settings.path_to.static}}/img/9.JPG" alt="image"/>
                </div>
            </li>
            <!--first slide ends-->

        </ul>
    </div>

    <div class="span11">
        <p class="lead">
            Problems of the Aged:
        </p>
        <p>
            The aged people in the district Warangal are living in pathetic conditions and unable to feed themselves. The nuclear families in the villages made them out of place and although their children live in the same village have no time to look after these old people. But the old in the villages like to live in that village and die in their homeland. This turned them in to beggars and labourers with meager wages. In the villages, where migration is high due to continuous draught, the old are left alone to their destiny. The health facilities are a far cry for elders in villages. Whenever there is a Health camp in any village, only old people attend expecting some Medicines.
        </p>
        <p>
            The Aged are discriminated in this issue too and we find no Forums for these people in the villages. This gives them little choice to share their feelings and problems.
        </p>
        <p>
            The Aged must have spent all their energies, money and savings in shouldering the responsibilities of their families. Only few old people will be wise to save some money for their old age. But in most cases, they are over confident that their children will show the same amount of responsibility that was shown towards them. We often find that the children show no gratitude towards their parents and harass them for money and assets. In the case of Aged women, they become servants in their own houses and have to face all kinds of harassment from their daughter-in-laws.  In some of the cases they abandon the old on the roads or in the ashrams and even may kill them for property. As long as such ruthless children are there in the society, the problems of Aged are unending.
        </p>
        <p class="lead">
            Tharuni Sandhya Project:
        </p>
        <p>
            Tharuni Sandhya was an initiative taken up in five villages in Wardhannapeta Mandal, District Warangal, Andhra Pradesh bringing together 1200 aged. Under this programme, several activities were taken up there to lend a helping hand to the lonely aged people there. Most of them were literally disowned by their own kith and kin.  It resulted in the old people feeling that they are not alone and together they can strive to achieve a lot more in their lives. Tharuni’s role was to facilitate formation of FFAs and with the help of a few donors arrange for medical aid, financial aid and clothes for the old people. <a href="https://docs.google.com/file/d/0B_CrasE8A9Tyd0w5MklfSWhra2s/edit" target="_blank"><b>Read More  >>></b></a>
        </p>

    </div>

</section>