{{extend "layout.html"}}

<section id="Balika_Sanghas" data-role="page">
    <p class="lead">
        Tharuni’s Novel Initiatives:
    </p>
    <div class="row-fluid">
        <div class="span6">
            <p class="lead">
                Balika Sanghas
            </p>
            <p>
                <i> “Balika Sanghas” – Girl’s Groups - Girls Get Together to Be Themselves</i>
            </p>
            <p>
                <b>Tharuni</b>, a NGO in collaboration with <b>UNICEF</b> has facilitated the Formation of Balika Sanghas (Girl’s Groups) in 77 villages in four Blocks in the District of Warangal in Andhra Pradesh, India. The Population of Adolescent Girls in the age group of 11 to 18 years is 11,107 in these 77 villages and 80 Habitations placed in the 4 Blocks of the District Warangal. About Eight Thousand Adolescent Girls from this Population are part of about 400 Balika Sanghas.
            </p>
            <p>
                Through Balika Sanghas, girls find support to resist gender stereotypes, express themselves freely, take pride in their successes, feel comfortable with their bodies, have confidence, and explore a world of opportunities.
            </p>
            <a href="https://docs.google.com/file/d/0B_CrasE8A9Tyd0NpbWoxOGcydk0/edit" target="_blank"><b>Read More  >>></b></a>
        </div>
        <div class="span6">
            <div id="myCarousel" class="carousel slide">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="active item">
                        <img src="{{=settings.path_to.static}}/img/BalikaSanghas-fighingfortheirRights.JPG"><img />
                        <div class="carousel-caption">
                            <h3>Balika Sanghas</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{{=settings.path_to.static}}/img/Balika_Sanghas_1.jpg"><img />
                        <div class="carousel-caption">
                            <h3>Balika Sanghas</h3>
                            <p></p>
                        </div>
                    </div>

                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>

        </div>

    </div>
</section>
