{{extend "layout.html"}}

<section id="campaign" data-role="page">
    <p class="lead">
        Tharuni Campaigns
    </p>
    <br/>
    <div class="span11">
        <ul class="thumbnails" style="text-align: center">
            <li class="span5">
                <div class="thumbnail">
                    <img src="{{=settings.path_to.static}}/img/viewer.png" alt="Kids Help Kids Campaign">

                    <p>
                        Kids help kids campaign
                        <a href="#" style="display:none;"><b>Read More  >>></b></a>
                    </p>
                </div>
            </li>

        </ul>
    </div>
</section>