{{extend "layout.html"}}

<section id="child_marriages" data-role="page">

    <div class="flexslider image-slider" style="background-color: #0196FD; color:white;">
        <ul class="slides">

            <!--first slide starts-->
            <li>
                <div class="span5 slide">
                    <h2>Combating Child Marriages through:</h2>

                    <p>
                        <ul>
                            <li>
                                Bringing Focus on the issue at State and National levels
                            </li>
                            <li>
                                Awareness Campaigns
                            </li>
                            <li>
                                Trainings for Enforcement Agencies and Peoples
                                representatives
                            </li>
                            <li>
                                Counseling the Parents
                            </li>
                            <li>
                                Legislative Measures
                            </li>
                            <li>
                                Framing of the rules
                            </li>
                            <li>
                                Legal Battles
                            </li>
                            <li>
                                Girl Empowerment through Balika Sanghas
                            </li>
                            <li>
                                Nutrition and Reproductive Health Awareness for Girls
                            </li>
                            <li>
                                Emphasizing on Registration of Marriages
                            </li>

                        </ul>
                    </p>
                    <a href="#" class="btn_googleplay"></a>
                </div>
                <div class="span6">
                    <div id="myCarouse11" class="carousel slide carousel-no-margin">
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="active item">
                                <img src="{{=settings.path_to.static}}/img/child_marriage.JPG"><img />
                                <div class="carousel-caption">
                                    <h3>Puppetry against Child Marriages</h3>
                                    <p></p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{=settings.path_to.static}}/img/child_marriage.JPG"><img />
                                <div class="carousel-caption">
                                    <h3>Puppetry against Child Marriages</h3>
                                    <p></p>
                                </div>
                            </div>

                        </div>
                        <!-- Carousel nav -->
                        <a class="carousel-control left" href="#myCarouse11" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#myCarouse11" data-slide="next">&rsaquo;</a>
                    </div>

                </div>
            </li>
            <!--first slide ends-->

        </ul>
    </div>

    <div class="span11">
        <p class="lead">
            COMBATING CHILD MARRIAGES
        </p>
        <br>
        <p>
            <i>“Let the Flowers Bloom – Don’t nip them in the Bud”</i>
            <br>
        </p>

        <p>
            The essence of marriage is companionship and mutual trust.
            It is a societal norm to get married. However when it comes to the girl child it becomes the sole mission of the parents right from her birth.
            Some Parents would like to get rid off her as quickly as possible. In the process they ignore the other dimensions – physical and psychological – which will have a negative emotional impact on the girl who gets married at an early age.
            The <b>Prohibition of Child Marriage Act 2006 </b>stipulates that the minimum age for marriage for a girl is <b>18</b> years and that for a boy is 21 years.
        </p>
        <br/>
        <p>
            Having a law is one thing and ensuring its effective enforcement is another thing.
            Sometimes we see that the people responsible for enacting law themselves promoting child marriages due to various compulsions which betrays their sincerity to the cause.
            Every one considers that it is the privilege of the parents to decide when to get their daughters married and if they chose to do so even before the girl attain 18 years of age, it is <b>their choice</b> and there is nothing we can do about it.
            The reasons could be for security, economic stability, family compulsions from grand parents, further delay may result in losing the groom to someone else (this happens mostly in consangual marriages), etc.
        </p>
        <p>
            Every Day 25,000 Child Marriages take place in the world. In the Next Decade about 100 million Girls will be married before they reach 18. More than 51 million girls between the ages of 15 to 19 are currently married.<b> India stands at 9th position</b> in the world with <b>57%</b> of girls getting married <b>before the age of 18 years</b>.  Niger (82%), Bangladesh (75%) and Chad (73%) are the top three.
            The other Asian nation to figure in this dubious distinction list is Nepal with 63% placed at 6th position. (Demographic Health Survey 1996-2001).<a href="https://docs.google.com/file/d/0B_CrasE8A9TyWFZNSkZGb3NTbEU/edit" target="_blank"><b>Read More  >>></b></a>
        </p>

    </div>

</section>