{{extend "layout.html"}}

<section id="child_labour" data-role="page" >

    <div class="flexslider image-slider" style="background-color: #0196FD; color:white;">
        <ul class="slides">

            <!--first slide starts-->
            <li>
                <div class="span5 slide">
                    <h2>Fighting against Child Labour:</h2>

                    <p>
                        <ul>
                            <li>
                                Focusing on the issue of Child Labour in Cotton Fields,
                                Ginning Mills & Brick Kilns, and other places where girls work
                            </li>
                            <li>
                                Counseling the Parents
                            </li>
                            <li>
                                Enforcement drives
                            </li>
                            <li>
                                Mainstreaming the dropouts
                            </li>
                            <li>
                                Distance Education – Open School/ University
                            </li>

                        </ul>
                    </p>
                    <a href="#" class="btn_googleplay"></a>
                </div>
                <div class="span6">
                    <div id="myCarouse12" class="carousel slide carousel-no-margin">
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="active item">
                                <img src="{{=settings.path_to.static}}/img/child_labour7.png"><img />
                                <div class="carousel-caption">
                                    <h3>Child Labour</h3>
                                    <p></p>
                                </div>
                            </div>
                            <div class=" item">
                                <img src="{{=settings.path_to.static}}/img/child_labour1.png"><img />
                                <div class="carousel-caption">
                                    <h3>Child Labour</h3>
                                    <p></p>
                                </div>
                            </div>

                            <div class=" item">
                                <img src="{{=settings.path_to.static}}/img/child_labour4.png"><img />
                                <div class="carousel-caption">
                                    <h3>Child Labour</h3>
                                    <p></p>
                                </div>
                            </div>
                            <div class=" item">
                                <img src="{{=settings.path_to.static}}/img/child_labour5.png"><img />
                                <div class="carousel-caption">
                                    <h3>Child Labour</h3>
                                    <p></p>
                                </div>
                            </div>

                            <div class=" item">
                                <img src="{{=settings.path_to.static}}/img/child_labour8.png"><img />
                                <div class="carousel-caption">
                                    <h3>Child Labour</h3>
                                    <p></p>
                                </div>
                            </div>
                            <div class=" item">
                                <img src="{{=settings.path_to.static}}/img/child_labour9.png"><img />
                                <div class="carousel-caption">
                                    <h3>Child Labour</h3>
                                    <p></p>
                                </div>
                            </div>
                            <div class=" item">
                                <img src="{{=settings.path_to.static}}/img/child_labour10.png"><img />
                                <div class="carousel-caption">
                                    <h3>Child Labour</h3>
                                    <p></p>
                                </div>
                            </div>

                        </div>
                        <!-- Carousel nav -->
                        <a class="carousel-control left" href="#myCarouse12" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#myCarouse12" data-slide="next">&rsaquo;</a>
                    </div>

                </div>
            </li>
            <!--first slide ends-->

        </ul>
    </div>
    <div class="span11">
        <p class="lead">
            The Plight of Young Girls working in the Ginning Mills and in Brick Industry  in Warangal – A Photo Feature
        </p>
        <p>
            <i>(This Photo Feature was sent to State Human Rights Commission, Hyderabad where a Public Interest Litigation was filed and we could make the Labour Department take action against the Mill owners. Over the time, when this Report was submitted to UNICEF, they initiated a special Project – Child Protection Project funded by IKEA in 20 Mandals of Warangal District and could stop Child Labour in these Ginning Mills and Brick Kilns in the district.
            Tharuni was part of this successful project.)</i>
        </p>
        <p>
            Warangal, the capital of future State Telengana, is a hub of academic excellence with Kakatiya University and REC (I.I.T).
            But it has maximum number of child labour and is next to Mahabubnagar in child marriages.
            Particularly Girl Children are at the discretion of their parents who transform them within no time, into child labour.
            Stricken by poverty and driven by selfish motives of parents’ girls are being victimized. Girl child is looked at as a commodity and not as a human being.
            They are deprived of child and human rights. They have to struggle in hot sun, in hazardous conditions and they don’t get a penny out of this hard work and all the money goes to their parents and spent for the needs of their family.
            Most of them are dropped out from school forcibly by their parents and the remaining work in their school holidays. This is a small study done by Tharuni in the course of its campaign against Girl Child discrimination and protecting her rights.
            A small Photo Feature is presented here to get the exact picture of the situation and hopes to touch the hearts of the concerned officials and policy makers.
            <a href="https://docs.google.com/file/d/0B_CrasE8A9TyUjdVZmpROEctaWM/edit" target="_blank"><b>Read More  >>></b></a>

        </p>

    </div>

</section>