{{extend "layout.html"}}

<section id="Child_Film_Makers" data-role="page">
    <div class="row-fluid">
        <div class="span6">
            <p class="lead">
                Child Film Makers
            </p>

            <a href="#" style="display:none;"><b>Read More  >>></b></a>
        </div>
        <div class="span6">
            <div id="myCarouse3" class="carousel slide">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="active item">
                        <img src="{{=settings.path_to.static}}/img/ChildrenFilmProducers-winningteamfinal.JPG"><img />
                        <div class="carousel-caption">
                            <h3>Child Film Makers</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{{=settings.path_to.static}}/img/Children-FIlm-Producers-Editing.JPG"><img />
                        <div class="carousel-caption">
                            <h3>Child Film Makers</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{{=settings.path_to.static}}/img/Children_Film_Producers-Bigger_Lense.JPG"><img />
                        <div class="carousel-caption">
                            <h3>Child Film Makers</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{{=settings.path_to.static}}/img/Children-Film-Producers-giving-voice.JPG"><img />
                        <div class="carousel-caption">
                            <h3>Child Film Makers</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{{=settings.path_to.static}}/img/Children-Film-Producers-1.JPG"><img />
                        <div class="carousel-caption">
                            <h3>Child Film Makers</h3>
                            <p></p>
                        </div>
                    </div>
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#myCarouse3" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarouse3" data-slide="next">&rsaquo;</a>
            </div>

        </div>

    </div>
</section>