{{extend "layout.html"}}

<section id="contact" data-role="page">
    <address>
        <strong class="lead">THARUNI</strong>
        <br />
        <p>
            <b>Branch Office:</b>
            <br />
            Flat No. 306, 4th Floor, Neelam
            Enclave,
            <br />
            Kanakadurga Colony, Hanamkonda - 506001
            <br />
            Telephone No.:
            <tel>
                0870-2547734
            </tel>
            <br />
            Contact: Dr Mamatha Raghuveer
            <br />
            email: <a href="mailto:mamatha@tharuni.org">mamatha@tharuni.org</a>, <a href="mailto:amamatha06@yahoo.co.in">amamatha06@yahoo.co.in</a>

        </p>
        <br />
        <p>
            <b>Administrative Office:</b>
            <br />
            27, Nagarjuna Colony,
            <br />
            Near Champapet-X-Road
            <br />
            Vysalinagar Post Hyderabad – 500 079
            <br />
            Telephone No.:
            <tel>
                00-91-040-24072038
            </tel>
            <br />
            email: <a href="mailto:mamatha@tharuni.org">mamatha@tharuni.org</a>, <a href="mailto:amamatha06@yahoo.co.in">amamatha06@yahoo.co.in</a>
            <br />
            website: <a href="http://tharuni.org">tharuni.org</a>
        </p>
    </address>
    <br />
    <p>
        <b>Registration:</b>
        <br />
        Registration Number: 1588/2000
        <br />
        Place of Registration: Hyderabad
        <br />
        Date of Registration: 15th
        Feb. 2000
        <br />
        FCRA Registration No.: 010230576
    </p>
</section>

