{{extend "layout.html"}}

<section id="education_for_girls" data-role="page" >
    <div class="flexslider image-slider" style="background-color: #0196FD; color:white;">
        <ul class="slides">

            <!--first slide starts-->
            <li>
                <div class="span5 slide">
                    <h2>Education for Girls:</h2>

                    <p>
                        <ul>
                            <li>
                                Helping to Continue Education
                            </li>
                            <li>
                                Setting up of Tuitions
                            </li>
                            <li>
                                Admissions in to Open School / University
                            </li>
                            <li>
                                Technical Education
                            </li>
                            <li>
                                Health & Family Life Education
                            </li>

                        </ul>
                    </p>
                    <a href="#" class="btn_googleplay"></a>
                </div>
                <div class="span6">
                    <div id="myCarouse13" class="carousel slide carousel-no-margin">
                        <!-- Carousel items -->
                        <div class="carousel-inner">

                            <div class="item active">
                                <img src="{{=settings.path_to.static}}/img/education2.JPG"><img />
                                <div class="carousel-caption">
                                    <h3>Child Education</h3>
                                    <p></p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{=settings.path_to.static}}/img/education3.JPG"><img />
                                <div class="carousel-caption">
                                    <h3>Child Education</h3>
                                    <p></p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{=settings.path_to.static}}/img/education4.JPG"><img />
                                <div class="carousel-caption">
                                    <h3>Child Education</h3>
                                    <p></p>
                                </div>
                            </div>

                        </div>
                        <!-- Carousel nav -->
                        <a class="carousel-control left" href="#myCarouse13" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#myCarouse13" data-slide="next">&rsaquo;</a>
                    </div>

                </div>
            </li>
            <!--first slide ends-->

        </ul>
    </div>
    <div class="span11">
        <p class="lead">
            Note on NPEGEL Programme - implemented by Tharuni in Warangal District.
        </p>
        <p>
            <b>The Two word Mantra – “educate girls”.</b> (The single most important thing that can be done to improve the world is perhaps this – educate girls – Shashi Tharoor, UN official).
        </p>
        <p>
            <i>“No other policy is as likely to raise economic productivity, lower infant and maternal mortality, improve nutrition, promote health, including the prevention of HIV/AIDS, and increase the chances of education for the next generation. Let us invest in women and girls” – Kofi Annan, U.N.Secretary-Genaral.></i>
        </p>
        <p>
            Scholarly studies and research projects have established that if you educate a boy, you educate a person, but if you educate a girl, you educate a family and thus benefit the entire community. A girl who has had more than six years of education is better equipped to seek and use medical and health advice, to immunize her children, to be aware of sanitary practices from boiling water to the importance of washing hands.
        </p>
        <p>
            A World Bank project in Africa established that the children of women with just five years of school had a 40 percent better survival rate than the children of women who had less than five years in class. A Yale University study showed that the heights and weights for new born children of women with a basic education were consistently higher than those of the babies born to uneducated women. A UNESCO project demonstrated that giving women just a primary school education decreases child mortality by five percent to 10 percent.<a href="https://docs.google.com/file/d/0B_CrasE8A9Tyckt1VDBPcHM1Wmc/edit" target="_blank"><b>Read More  >>></b></a>
        </p>
    </div>
</section>