{{extend "layout.html"}}

<section id="Puppetry_and_Folk_Art" data-role="page">
    <div class="row-fluid">
        <div class="span6">
            <p class="lead">
                Using Puppetry and Folk Art
            </p>

            <a href="#" style="display:none;"><b>Read More  >>></b></a>
        </div>
        <div class="span6">
            <div id="myCarouse2" class="carousel slide">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="active item">
                        <img src="{{=settings.path_to.static}}/img/child_marriage.JPG"><img />
                        <div class="carousel-caption">
                            <h3>Puppetry and Folk Art</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="{{=settings.path_to.static}}/img/child_marriage.JPG"><img />
                        <div class="carousel-caption">
                            <h3>Puppetry and Folk Art</h3>
                            <p></p>
                        </div>
                    </div>

                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#myCarouse2" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarouse2" data-slide="next">&rsaquo;</a>
            </div>

        </div>

    </div>
</section>