{{extend "layout.html"}}

<section id="hiv_aids_campaign" data-role="page">

    <div class="flexslider image-slider" style="background-color: #0196FD; color:white;">
        <ul class="slides">

            <!--first slide starts-->
            <li>
                <div class="span5 slide">
                    <h2>HIV/AIDS Campaign:</h2>

                    <p>
                        <ul>
                            <li>
                            <li>
                                Awareness Campaign
                            </li>
                            <li>
                                Developing Training Materials
                            </li>
                            <li>
                                Trainings
                            </li>
                            <li>
                                Capacity Building of Government Functionaries
                            </li>
                            <li>
                                Tribal Campaign – tribal language
                            </li>

                        </ul>
                    </p>
                    <a href="#" class="btn_googleplay"></a>
                </div>
                <div class="span6">
                    <div id="myCarouse15" class="carousel slide carousel-no-margin">
                        <!-- Carousel items -->
                        <div class="carousel-inner">

                            <div class="item active">
                                <img src="{{=settings.path_to.static}}/img/campaign3.png"><img />
                                <div class="carousel-caption">
                                    <h3>HIV/AIDS Campaign</h3>
                                    <p></p>
                                </div>
                            </div>

                            <div class="item">
                                <img src="{{=settings.path_to.static}}/img/campaign6.png"><img />
                                <div class="carousel-caption">
                                    <h3>HIV/AIDS Campaign</h3>
                                    <p></p>
                                </div>
                            </div>

                            <div class="item">
                                <img src="{{=settings.path_to.static}}/img/campaign8.png"><img />
                                <div class="carousel-caption">
                                    <h3>HIV/AIDS Campaign</h3>
                                    <p></p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{=settings.path_to.static}}/img/campaign9.png"><img />
                                <div class="carousel-caption">
                                    <h3>HIV/AIDS Campaign</h3>
                                    <p></p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{=settings.path_to.static}}/img/campaign10.png"><img />
                                <div class="carousel-caption">
                                    <h3>HIV/AIDS Campaign</h3>
                                    <p></p>
                                </div>
                            </div>

                        </div>
                        <!-- Carousel nav -->
                        <a class="carousel-control left" href="#myCarouse15" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#myCarouse15" data-slide="next">&rsaquo;</a>
                    </div>

                </div>
            </li>
            <!--first slide ends-->

        </ul>
    </div>
    <div class="span11">
        <p class="lead">
            HIV/AIDS Campaign
        </p>
        <p>
            Tharuni has taken up HIV/AIDS campaign in the district since the past one and half years.  Tharuni organized a unique campaign against AIDS and child marriages in 81 villages of 22 mandals of
            AIDS Control Society). This Campaign brought to light the necessity for conducting more such programmes for the young women who are the most affected lot due to ignorance and discrimination

        </p>
        <h3 style="color: #5AB704">New Pilot Project on HIV/AIDS:</h3>
        <p>
            Based on this background Tharuni was assigned the task of implementation of AIDS awareness programme for Self Help Group members (SHGs), Youth and Adolescent girls in about 214 villages of 7 mandals of the district covering 84,914 people.  It is one of the pilot projects taken up in three districts of Andhra Pradesh State.
            Unlike other NGO’s, Tharuni implemented this project involving Government functionaries like Govt. teachers, Anganwadi Workers from ICDS, and Grama Deepikas from DRDA.  Tharuni has shown in the past and present how a committed NGO can successfully collaborate with Government in implementing Governmental programmes.  This is very rare because NGOs run their own parallel set ups and never like to involve them with Govt. machinery.

        </p>
        <p>
            The DRPs were given the task of selecting the required No. of VRPs for their Mandal before coming for training at APARD. After coming back from the training the DRPs had finalized the list of VRPs for each programme and final screening was done by Tharuni’s team.

            The VRPs for SHG initiative were selected from the Grama Deepikas who are working in the Mandal who are active, committed, communicative and popular in their area, preferably married and in the age group of 20 to 45years. Wherever the needs were not met, active SHG group leaders were selected. At one or two places private teachers were also involved.

            The VRPs for Youth initiative were selected among the local youth association leaders who are communicative and service oriented. The DRPs screened these VRPs depending on their familiarity with the villages and with the village administration like Sarpanches, etc. At some places private teachers and experienced social workers were also selected.
            <a href="https://docs.google.com/file/d/0B_CrasE8A9TyMW82ZU9SUk9xTU0/edit" target="_blank"><b>Read More  >>></b></a>
        </p>
        <h3 style="color: #5AB704">Report on AIDS Awareness Programme for Lambada Tribals in Warangal District</h3>
        <p>
            Warangal is one of the tribal districts of Telangana region in Andhra Pradesh.  It has about 1550 thandas, where around five lakh lambadas reside.  Warangal is the centre for academic activity having a University, Regional Engineering College and many other professional colleges.
            This helped most of the Lambadas in taking up higher education and later taking up higher posts in the Govt. and Non-Govt. sectors. There are many IAS and IPS Officers, Professors, judges, advocates, and teachers from the Lambada community. They are present in all the sectors. But many Lambadas still languish in a very pathetic state of poverty and illiteracy. Added to this, high prevalence of diseases in the thandas makes them more vulnerable to deaths.
            This is only because these thandas are situated far away from the civilization. Another reason is mostly these Thandas are regarded as habitats attached to village Panchayat and are hence away from development. There are no proper roads and hence no communication channels. This makes the people living in these thandas unaware of the modern technologies.
            <a href="https://docs.google.com/file/d/0B_CrasE8A9TyLUZKWmpzaVpWSk0/edit" target="_blank"><b>Read More  >>></b></a>
        </p>
    </div>

</section>