{{extend "layout.html"}}

<section id="issues" data-role="page">
    <h2 style="color:#5AB704;">Tharuni addresses the Issues by:</h2>
    <br />
    <br />
    <p class="lead">
        How Tharuni works:
    </p>
    <ul>
        <li>
            Baseline Survey
        </li>
        <li>
            Village Committees & Balika Sanghas
        </li>
        <li>
            Advocacy - Trainings & Meetings
        </li>
        <li>
            Awareness / Campaigning through Cultural Folk Arts
        </li>
        <li>
            Child Help Line & News Letter
        </li>
        <li>
            Counseling
        </li>
        <li>
            Enforcement
        </li>
        <li>
            Rehabilitation
        </li>
        <li>
            Video Documentation
        </li>
    </ul>
</section>