{{extend "layout.html"}}

<section id="issues1" data-role="page">
    <p class="lead">
        Tharuni works on the following Issues related to
        Girl Children:
    </p>
    <ul>
        <li>
            Gender Discrimination
        </li>
        <li>
            Child Marriages
        </li>
        <li>
            Child Labour
        </li>
        <li>
            Trafficking
        </li>
        <li>
            Education for Girls
        </li>
        <li>
            Livelihoods
        </li>
        <li>
            HIV / AIDS
        </li>
        <li>
            Infanticide & Foeticide
        </li>
        <li>
            Rural Tourism
        </li>
        <li>
            Problems of the Aged
        </li>
    </ul>
</section>