{{extend "layout.html"}}

<section id="livelihoods" data-role="page">
    <div class="flexslider image-slider" style="background-color: #0196FD; color:white;">
        <ul class="slides">

            <!--first slide starts-->
            <li>
                <div class="span5 slide">
                    <h2>Livelihoods:</h2>

                    <p>
                        <ul>
                            <li>
                                Training in Livelihood & Entrepreneurship Skills
                            </li>
                            <li>
                                Job Search for Rural Girls
                            </li>
                            <li>
                                Job Trainings
                            </li>
                            <li>
                                Building Linkages
                            </li>
                            <li>
                                Placements
                            </li>
                            <li>
                                Helping for Retention in Jobs
                            </li>

                        </ul>
                    </p>
                    <a href="#" class="btn_googleplay"></a>
                </div>
                <div class="span6">
                    <div id="myCarouse14" class="carousel slide carousel-no-margin">
                        <!-- Carousel items -->
                        <div class="carousel-inner">

                            <div class="item active">
                                <img src="{{=settings.path_to.static}}/img/Computerclass.JPG"><img />
                                <div class="carousel-caption">
                                    <h3>Livelihood</h3>
                                    <p></p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{=settings.path_to.static}}/img/Karate.JPG"><img />
                                <div class="carousel-caption">
                                    <h3>Livelihood</h3>
                                    <p></p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{=settings.path_to.static}}/img/Maggamworkclass-2.JPG"><img />
                                <div class="carousel-caption">
                                    <h3>Livelihood</h3>
                                    <p></p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{=settings.path_to.static}}/img/MaggamWorkclass.JPG"><img />
                                <div class="carousel-caption">
                                    <h3>Livelihood</h3>
                                    <p></p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{=settings.path_to.static}}/img/tailoring.JPG"><img />
                                <div class="carousel-caption">
                                    <h3>Livelihood</h3>
                                    <p></p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{=settings.path_to.static}}/img/SpokenEnglishClass.JPG"><img />
                                <div class="carousel-caption">
                                    <h3>Livelihood</h3>
                                    <p></p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{=settings.path_to.static}}/img/Yogaclass.JPG"><img />
                                <div class="carousel-caption">
                                    <h3>Livelihood</h3>
                                    <p></p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{=settings.path_to.static}}/img/NIT-TharuniIngrnofComputerTrng.JPG"><img />
                                <div class="carousel-caption">
                                    <h3>Livelihood</h3>
                                    <p></p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{=settings.path_to.static}}/img/Participants.JPG"><img />
                                <div class="carousel-caption">
                                    <h3>Livelihood</h3>
                                    <p></p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{=settings.path_to.static}}/img/SuperintendentofPolicegivngthecertificates.JPG"><img />
                                <div class="carousel-caption">
                                    <h3>Livelihood</h3>
                                    <p></p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="{{=settings.path_to.static}}/img/DistrictCollectorgiving-away-the-certificates.JPG"><img />
                                <div class="carousel-caption">
                                    <h3>Livelihood</h3>
                                    <p></p>
                                </div>
                            </div>

                        </div>
                        <!-- Carousel nav -->
                        <a class="carousel-control left" href="#myCarouse14" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#myCarouse14" data-slide="next">&rsaquo;</a>
                    </div>

                </div>
            </li>
            <!--first slide ends-->

        </ul>
    </div>

    <div class="span11">
        <p class="lead">

        </p>
        <p>
            <b>Tharuni</b> imparts <b>Vocational</b> courses training for Tailoring, Hand Embroidery, Cycle Repair, Karate, Karrasamu, Mobile Repair, Agarbathi making, Chalk piece making, Candle Making and Photo lamination to girls as per their need. By doing so, Tharuni motivates the girls to have their source of revenue and also be proud of contributing to the family. Young girls can earn and utilize the money for their education. Tailoring center is being run in one village (Station Ghanpur) and about 100 girls have been trained. Most of the girls are stitching uniforms for welfare hostels in the district.
        </p>
        <p>
            Tharuni also facilitates job oriented trainings to girls in collaboration with State and District Administration. As many as 250 girls could get jobs in the fields of Hotel Management, Retail Marketing, Apparel and garment making, etc. <a href="#" target="_blank" style="display:none;"><b>Read More  >>></b></a>
        </p>

    </div>

</section>