{{extend "layout.html"}}

<section id="support" data-role="page">
    <div class="row-fluid " >
        <div class="span10">
            <p class="lead">
                How can you support Tharuni:
            </p>
            <ul>
                <li>
                    Helping Girls in attaining their rightful education by
                    sponsoring their studies
                </li>
                <li>
                    Sponsoring Training on Livelihood Skills
                </li>
                <li>
                    Providing Employment to young women
                </li>
                <li>
                    Sponsoring Tharuni’s Campaigns - cultural and promotional
                    events and Activities
                </li>
            </ul>
            <p>
                All donations are eligible for Tax Exemption under Section 80G
                of the Income Tax Act, 1961.
            </p>
            <p>
                Cheques & Drafts may please be made in favour of ‘Tharuni’
                payable at Hyderabad / Warangal.
            </p>

            <br>
            <p class="lead">
                You can donate through any one of our bank accounts
            </p>

            <address>
                Andhra Bank
                <br/>
                FCRA Account: a/c.No.8494,
                <br/>
                Raj Bhavan Road Branch
                <br/>
                Chintal Basti, Hyderabad
                <br/>
                Andhra Pradesh, India
                <br/>
            </address>
            <address>
                Andhra Bank
                <br/>
                General Account: a/c. No. 05481001018797,
                <br/>
                Santoshnagar Branch
                <br/>
                Opp. Bhoji Reddy College of Engineering, Hyderabad
                <br/>
                Andhra Pradesh, India
                <br/>
            </address>
            <address>
                Andhra Bank
                <br/>
                General Account: a/c. No.088110011110337,
                <br/>
                akkalagutta Branch
                <br/>
                Hanamkonda, Dist. Warangal,
                <br/>
                Andhra Pradesh, India
                <br/>

            </address>
            <address>
                Andhra Bank
                <br/>
                UNICEF Project Account: a/c. No. 800110100013782,
                <br/>
                Nakkalagutta Branch
                <br/>
                Hanamkonda, Dist. Warangal,
                <br/>
                Andhra Pradesh, India
                <br/>

            </address>

        </div>
    </div>
    <br>
    <div class="row-fluid">
        <div class="span4">
            <div id="ammadoGivingWidget"></div>
            <script type="text/javascript">
                var s = document.createElement('script');
                s.type = 'text/javascript';
                s.async = true;
                s.src = 'https://www.ammado.com/nonprofit/128497/givingwidget/embed.js?renderTo=ammadoGivingWidget';
                var f = document.getElementsByTagName('script')[0];
                f.parentNode.insertBefore(s, f);
            </script>

        </div>

        <div class="span4">
            <div id="fb">
                <div id="fb-root"></div>
                <script type="text/JavaScript">
                    ( function(d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id))
                                return;
                            js = d.createElement(s);
                            js.id = id;
                            js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                </script>
                <div class="fb-like-box" data-href="https://www.facebook.com/Tharuni.org" data-width="200" data-show-faces="false" data-border-color="Navy" data-stream="false" data-header="false"></div>
            </div>
        </div>
        <div class="span4">

            <a href="https://twitter.com/Tharuni_org" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @Tharuni_org</a>
            <script>
                ! function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (!d.getElementById(id)) {
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "//platform.twitter.com/widgets.js";
                        fjs.parentNode.insertBefore(js, fjs);
                    }
                }(document, "script", "twitter-wjs");
            </script>
            <div >
                <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
                <g:plus href="https://plus.google.com/106252641670484238537"></g:plus>
            </div>

        </div>

    </div>

</section>