{{extend "layout.html"}}

<section id="rural_tourism"  data-role="page">
    <div class="flexslider image-slider" style="background-color: #0196FD; color:white;">
        <ul class="slides">

            <!--first slide starts-->
            <li>
                <div class="span5 slide">
                    <h2>Rural Tourism</h2>

                    <p>
                        <ul>
                            <li>
                                Cheriyal-Nakashi Paintings
                            </li>
                            <li>
                                Pembarthi Brass-Sheet metal work
                            </li>

                        </ul>
                    </p>
                    <a href="#" class="btn_googleplay"></a>
                </div>
                <div class="span6"><img src="{{=settings.path_to.static}}/img/painting.png" alt="image"/>
                </div>
            </li>
            <!--first slide ends-->

        </ul>
    </div>
    <div class="span11">
        <p class="lead">
            The Nakash Artists of Cheriyal
        </p>
        <p>
            <b>Cherial </b>village located in Janagoan Division, 85 km from Warangal district in Andhra Pradesh. Cheriyal Nakash artists have a very prominent art form up their sleeves.
            The Nakash artists have been identified by the rulers of the Kakatiya era and the Nizams, 400 years ago for their delicate artistry. Originally known for Sawdust Masks & Toy Making and Scroll Painting skill, these Nakash artists have become popular across the world as – The Cheriyal Painting Artisans. Traditionally, the artistry was used to paint scrolls which illustrate the history and the culture of certain section of people in the rural areas of Warangal.
            It is a unique depiction of how the caste system evolved and how people respect and follow certain rituals drawn not only from the history but also from mythology.
        </p>
        <p>
            <h4>Saw Dust Masks and Dolls </h4>
            The materials used for masks and doll making are very humble which are available locally. However, the process of procuring, refining and mixing the raw material to create a proper medium is very tedious. The process of making the mask or toy or doll involves six stages.
            <ul>
                <li>
                    Sculpting –‘Poniki’ wood is used to craft a figurine of choice and give it a crude form
                </li>
                <li>
                    Plastering – a fine mixture of tamarind seed paste and sawdust is applied over the base form
                </li>
                <li>
                    Bandaging – after the mixture dries up, cotton strips are layered on the figurine
                </li>
                <li>
                    Smoothening – liquid lime and chalk powder paste are coated to smoothen the surface
                </li>
                <li>
                    Colouring – On the base colour, detailing such as eyes, limbs and accessories are intrinsically painted
                </li>
                <li>
                    Varnishing – to give a glossy look a coat of varnish is applied
                </li>
            </ul>

            <a href="https://docs.google.com/file/d/0B_CrasE8A9TycUdpMHMxcFZkQ1E/edit" target="_blank"><b>Read More  >>></b></a>
        </p>

    </div>

</section>